spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/truesplit
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${FROM_EMAIL_USERNAME}
    password: ${FROM_EMAIL_Password}
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
  security:
    oauth2:
          client:
            registration:
              google:
                client-id: ${GOOGLE_CLIENT_ID}
                client-secret: ${GOOGLE_CLIENT_SECRET}
                scope:
                  - openid
                  - profile
                  - email
            provider:
              google:
                authorization-uri: https://accounts.google.com/o/oauth2/v2/auth?prompt=select_account
                token-uri: https://oauth2.googleapis.com/token
                user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
                user-name-attribute: sub

server:
  port: 8080
jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000 # 1 day
otp:
  validity-seconds: 100   # OTP expiry time in seconds (60 second)

frontend:
  redirect-home: http://localhost:5000


